*{
    margin 0
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
#top-part{
    margin-top: 50px;
}
.intro a:hover{
    background-image: linear-gradient(180deg,purple, violet);
}
h1{
    font-size: 50px;
    text-shadow: gray 2px 1px 1px;
    font-weight: 700;
    color:rgb(62, 62, 117);
    height: 20px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}
h4{
    font-size: 25px;
    font-weight: 700;
}
h5{
    font-size: 20px;
}
p{
    color: gray;
}
.name-color{
    color: #FF8367
}
.top-button{
    color: white;
    background-image: linear-gradient(45deg,purple,violet);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.intro{
    float: left;
    width: 35%;
    margin-left: 50px;
    padding-left: 50px;
}
img{
    width: 100%;
}
section{
    height: 500px;
    margin-bottom: 100px;
}
.projects{
    float: left;
    margin-left: 70px;
    border: solid white 15px;
    border-radius: 20px;
    box-shadow: whitesmoke 3px 1px 5px ;
    background-color: white;
    margin-top: 40px;

}
.projects-color{
    color: #FF8367;

}
.projects img{
    width: 330px
}
.working-projects{
    width: 100%;
    background-color: #f8efef;
    padding-top: 80px;
    padding-bottom: 230px;
    font-weight: 700;
}   

.border-test{
    width: 330px;
}
.inquiry img{
    height: 200px;
    width: 820px;
}
.inquiry{
    margin-left: 280px;
    margin-right: 250px;
    height: 200px;

}
.client{
    text-align: center;
    height: 400px;
    width: 700px;
    margin-left: 335px;

}
.client img{
    height: 150px;
    width: 150px;
}

footer{
    text-align: center;
    line-height: 0px;
    height: 80px;

}
.footer1{
    font-size: 20px;
    line-height: 5px;
    font-weight: 700;
    margin-bottom: 5px;
   
}
.footer2{
    float: left;
    margin-left: 500px;
}
.footer2 img{
    height: 40px;
    width: 40px;
    padding: 5px
}

.banner{
    background-image: url(images/inquiry.png);
    height: 200px;
    width: 900px;
    border: 1px solid white;
    margin-left: 240px;
    background-repeat: no-repeat;
    background-size: 900px 200px;
}
.banner1{
    text-align: left;
    font-size: 35px;
    color: white;
    margin-top: 80px;
    margin-left: 70px;
    font-weight: 700;
}
.last-button:hover{
    background-image: linear-gradient(180deg,purple, violet);
}
.last-button{
    color:white;
    margin-left: 320px;
    background-image: linear-gradient(45deg,purple,violet);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
.button-link{
    text-decoration: none;
    color: white;
}
.mail-link{
    text-decoration: none;
    color: rgb(49, 46, 46);
}
.contact-me p{
    text-align: center;
    font-size: 50px;
    color: black
}
.contact-me{
    padding-bottom: 50px;
}
.contact-me #name{
    width: 45%;
    height: 40px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.contact-me #email{
    width: 46%;
    height: 40px;
}
.contact-me #subject{
    width: 94%;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.contact-me #message{
    width: 94%;
    margin-bottom: 100px;
    margin-left: 20px;
}
.contact-me button{
    padding: 15px 50px;
    color: #fff;
    border: 1px solid #f68266;
    border-radius: 5px;
    margin-left: 20px;
    background-image: linear-gradient(45deg,purple,violet);
}
.contact-me button:hover{
    background-image: linear-gradient(180deg,purple, violet);
}
.contact{
    margin-top: 50px;
    padding-bottom: 5px;
    height: 500px;
}